.main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.welcome {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heart {
    font-size: 2em;
    animation: pulse 1s infinite alternate;
}

.shake {
    animation: shake 1.4s ease-in-out infinite alternate;
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out;
}

.fade-out-down {
    animation: fadeOutDown 0.5s ease-out;
}

.fade-in-blur {
  animation: fadeInAndUnblur 1.5s ease-in-out forwards;
}

@keyframes pulse {
    from { transform: scale(2); }
    to { transform: scale(2.5); }
}

@keyframes shake {
    0%, 100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(60deg);
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(10px);
    }
    to {
      opacity: 0;
      transform: translateY(0);
    }
}

@keyframes fadeInAndUnblur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}